@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
}


h1{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 50px;
    margin: 0px;
    padding: 0px;  
}

#tableHead{
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 10px;
    color: #687a96;
}

#tableContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.mainTable{
    border: 2px solid #ebebeb;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: 20px;
}

.headersRow{
    min-height: 20px;
    max-height: 20px;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #ebebeb;
}

th{
    max-width: 10px;
    color: #868686;
    font-size: 18px;
    padding: 10px;
}

.editableDiv{
    justify-content: center;
    align-items: center;
}
td{
    max-width: 100px;
    width: 60px;
    height: 40px;
    padding: 0px;
}

[contenteditable]:focus{
    outline: 0px solid transparent;
    background-color: #ebebeb;
    caret-color: #686868;
    line-height: 220%;
    cursor:auto;
}

tr{
    border-top: 0.5px solid #ebebeb;
}


.numberCell{
    text-align: right;
    border-bottom: 0.5px solid #ebebeb;
    height: 100%;
    color: black;
    padding-right: 20px;
}

.textCell{
    place-self: center;
    text-align: center;
    word-wrap: break-word;
    /*
    text-align: center;
    align-items: center;
    word-wrap: break-word;*/
}

.emailCell{
    margin: auto;
    place-self: center;
    text-align: center;
    width: fit-content;
    text-decoration: underline;
    color: #1858be;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
}
.emailCell:hover{
    cursor: pointer;
    color: #687a96
}
.urlCell{
    margin: auto;
    place-self: center;
    text-align: center;
    width: fit-content;
    text-decoration: underline;
    color: #1858be;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
}

.urlCell:hover{
    cursor: pointer;
    color: #687a96;
}
