@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


h1{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 50px;
    margin: 0px;
    padding: 0px;  
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 10px;
    color: #687a96;
}

#tableContainer{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.coolTable{
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    margin: 20px;
    max-width: 100%;
}

.headersRow{
    min-height: 20px;
    max-height: 20px;
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #ebebeb;
}



.editableDiv{
    justify-content: center;
    align-items: center;
}


.selectedTd{
    max-width: 100px;
    width: 60px;
    height: 40px;
    padding: 0px;
    background-color: #ebebeb;
}

[contenteditable]:focus{
    outline: 0px solid transparent;
    
    caret-color: #686868;
    line-height: 220%;
    cursor:auto;
}

tr{
    border-top: 0.5px solid #ebebeb;
}

td{
    border: 0px;
    max-width: 100px;
    width: 60px;
    height: 40px;
    padding: 0px;
    text-align: center;
    align-items: center;
}

th{
    width: 10px;
    max-width: 10px;
    color: #464646;
    font-size: 16px;
    height: 40px;
}

.numberCell{
    padding-right: 20px;
    place-self: center;
    text-align: right;
    word-wrap: break-word;
}

.textCell{
    padding-left: 10px;
    text-align: left;
    word-wrap: break-word;
}

.emailCell{
    margin: auto;
    max-width: 100%;
    text-decoration: underline;
    color: #1858be;
   
    word-wrap: break-word;
}
.emailCell:hover{
    cursor: pointer;
    color: #687a96
}
.urlCell{
    margin: auto;
    max-width: 100%;
    text-decoration: underline;
    color: #1858be;
    
    word-wrap: break-word;
}

.urlCell:hover{
    cursor: pointer;
    color: #687a96;
}

.checkboxCell{
    width: 10px;
}

.checkbox{
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
}

.checkboxLabel{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1px auto 1px;
    justify-items: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.settingCell{
    position: relative;
    width: 50px;
    cursor: pointer;
}

.settingCell:hover{
    background-color: #eef1f6;
}

.material-icons.md-20{
    position: relative;
    top: 10px;
    color: #3f4552;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}


.selectDropdownWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.selectDropdown{
    display: none;
    position: absolute;
    z-index: 1;
}

.selectDropdown.show{
    margin-top: 16px;
    background-color: #eef1f6;
    width: 100%;
    display: block;
}

.selectDropdown a {
  background-color: #eef1f6;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.selectDropdown a:hover {
    background-color: #e2e6ee;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


